USE [master]
GO
/****** Object:  Database [QLBanVeXe]    Script Date: 4/26/2026 9:44:33 PM ******/
CREATE DATABASE [QLBanVeXe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBanVeXe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QLBanVeXe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBanVeXe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QLBanVeXe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanVeXe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanVeXe]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 4/26/2026 9:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[TripID] [int] NOT NULL,
	[UserID] [int] NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CustomerPhone] [varchar](20) NOT NULL,
	[CustomerEmail] [varchar](100) NULL,
	[TotalSeats] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [varchar](20) NULL,
	[PaymentStatus] [varchar](20) NULL,
	[BookingDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buses]    Script Date: 4/26/2026 9:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buses](
	[BusID] [int] IDENTITY(1,1) NOT NULL,
	[OperatorID] [int] NOT NULL,
	[LicensePlate] [varchar](20) NOT NULL,
	[Capacity] [int] NOT NULL,
	[BusType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operators]    Script Date: 4/26/2026 9:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operators](
	[OperatorID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ContactPhone] [varchar](20) NOT NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OperatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketSeats]    Script Date: 4/26/2026 9:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketSeats](
	[TicketSeatID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[SeatLabel] [varchar](10) NOT NULL,
	[QRCode] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketSeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trips]    Script Date: 4/26/2026 9:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trips](
	[TripID] [int] IDENTITY(1,1) NOT NULL,
	[BusID] [int] NOT NULL,
	[DepartureLocation] [nvarchar](100) NOT NULL,
	[ArrivalLocation] [nvarchar](100) NOT NULL,
	[DepartureTime] [datetime] NOT NULL,
	[ArrivalTime] [datetime] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[AvailableSeats] [int] NOT NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TripID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/26/2026 9:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Role] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [TripID], [UserID], [CustomerName], [CustomerPhone], [CustomerEmail], [TotalSeats], [TotalPrice], [PaymentMethod], [PaymentStatus], [BookingDate]) VALUES (1, 118, 81, N'Cao Thị Yến', N'0378565406', N'caothiyen80@gmail.com', 3, CAST(783234.00 AS Decimal(18, 2)), N'VNPay', N'Cancelled', CAST(N'2026-03-30T11:35:05.020' AS DateTime))
INSERT [dbo].[Bookings] ([BookingID], [TripID], [UserID], [CustomerName], [CustomerPhone], [CustomerEmail], [TotalSeats], [TotalPrice], [PaymentMethod], [PaymentStatus], [BookingDate]) VALUES (2, 107, 21, N'Cao Thị Xuân', N'0915753253', N'caothixuan20@gmail.com', 4, CAST(754212.00 AS Decimal(18, 2)), N'VNPay', N'Paid', CAST(N'2026-03-04T06:15:05.040' AS DateTime))
INSERT [dbo].[Bookings] ([BookingID], [TripID], [UserID], [CustomerName], [CustomerPhone], [CustomerEmail], [TotalSeats], [TotalPrice], [PaymentMethod], [PaymentStatus], [BookingDate]) VALUES (3, 145, 23, N'Trần Thị Chi', N'0610394437', N'tranthichi22@gmail.com', 3, CAST(1187634.00 AS Decimal(18, 2)), N'VNPay', N'Pending', CAST(N'2026-03-03T03:46:05.053' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Buses] ON 

INSERT [dbo].[Buses] ([BusID], [OperatorID], [LicensePlate], [Capacity], [BusType]) VALUES (1, 1, N'51B-12345', 34, N'Limousine 34 giường')
INSERT [dbo].[Buses] ([BusID], [OperatorID], [LicensePlate], [Capacity], [BusType]) VALUES (2, 2, N'51B-67890', 40, N'Xe giường nằm 40 chỗ')
INSERT [dbo].[Buses] ([BusID], [OperatorID], [LicensePlate], [Capacity], [BusType]) VALUES (3, 1, N'51F-11223', 34, N'Giường nằm 34 chỗ')
SET IDENTITY_INSERT [dbo].[Buses] OFF
GO
SET IDENTITY_INSERT [dbo].[Operators] ON 

INSERT [dbo].[Operators] ([OperatorID], [Name], [Description], [ContactPhone], [Email]) VALUES (1, N'Phương Trang', N'Dịch vụ xe khách hàng đầu', N'19006067', N'phuongtrang@futa.vn')
INSERT [dbo].[Operators] ([OperatorID], [Name], [Description], [ContactPhone], [Email]) VALUES (2, N'Thành Bưởi', N'Limousine VIP', N'19001900', N'cskh@thanhbuoi.vn')
INSERT [dbo].[Operators] ([OperatorID], [Name], [Description], [ContactPhone], [Email]) VALUES (3, N'Hải Vân', N'Chất lượng Limousine hàng đầu miền Bắc', N'19006763', N'contact@haivan.com')
SET IDENTITY_INSERT [dbo].[Operators] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketSeats] ON 

INSERT [dbo].[TicketSeats] ([TicketSeatID], [BookingID], [SeatLabel], [QRCode]) VALUES (1, 1, N'A1', N'QR-1-A1')
INSERT [dbo].[TicketSeats] ([TicketSeatID], [BookingID], [SeatLabel], [QRCode]) VALUES (2, 1, N'A2', N'QR-1-A2')
INSERT [dbo].[TicketSeats] ([TicketSeatID], [BookingID], [SeatLabel], [QRCode]) VALUES (3, 1, N'A3', N'QR-1-A3')
GO
SET IDENTITY_INSERT [dbo].[TicketSeats] OFF
GO
SET IDENTITY_INSERT [dbo].[Trips] ON 

INSERT [dbo].[Trips] ([TripID], [BusID], [DepartureLocation], [ArrivalLocation], [DepartureTime], [ArrivalTime], [Price], [AvailableSeats], [Status]) VALUES (1, 1, N'TPHCM', N'Đà Lạt', CAST(N'2026-02-24T09:04:22.030' AS DateTime), CAST(N'2026-02-24T16:04:22.030' AS DateTime), CAST(300000.00 AS Decimal(18, 2)), 34, N'Scheduled')
INSERT [dbo].[Trips] ([TripID], [BusID], [DepartureLocation], [ArrivalLocation], [DepartureTime], [ArrivalTime], [Price], [AvailableSeats], [Status]) VALUES (2, 2, N'TPHCM', N'Nha Trang', CAST(N'2026-02-25T09:04:22.030' AS DateTime), CAST(N'2026-02-25T17:04:22.030' AS DateTime), CAST(250000.00 AS Decimal(18, 2)), 40, N'Scheduled')
INSERT [dbo].[Trips] ([TripID], [BusID], [DepartureLocation], [ArrivalLocation], [DepartureTime], [ArrivalTime], [Price], [AvailableSeats], [Status]) VALUES (3, 3, N'TPHCM', N'Cần Thơ', CAST(N'2026-02-24T09:31:59.063' AS DateTime), CAST(N'2026-02-24T13:31:59.063' AS DateTime), CAST(165000.00 AS Decimal(18, 2)), 34, N'Scheduled')
GO
SET IDENTITY_INSERT [dbo].[Trips] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Phone], [PasswordHash], [Role], [CreatedAt]) VALUES (1, N'Admin System', N'adminsystem@gmail.com', N'0999999999', N'$2b$10$F2FiTVeMnrdo2eF4HirCkO4WqX3arASDwpzXviBnQkvcnxvU3Qcl6', N'Admin', CAST(N'2026-04-16T15:29:59.110' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Phone], [PasswordHash], [Role], [CreatedAt]) VALUES (2, N'Nguyễn Văn An', N'nguyenvanan1@gmail.com', N'0724586704', N'$2b$10$DAFbgTNuCAuKUGiTwiEfuuHz8DH8X7WNwGWgaAaGVmq6As4DnhJeK', N'Customer', CAST(N'2026-04-16T15:29:59.173' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Phone], [PasswordHash], [Role], [CreatedAt]) VALUES (3, N'Trần Thị Bình', N'tranthibinh2@gmail.com', N'0640026272', N'$2b$10$TwVeJ.z6l1qheNi3aXtH.uV/BwbBMw3MGxKnBfoJtMFFQ9Ma6OFu2', N'Customer', CAST(N'2026-04-16T15:29:59.237' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Buses__026BC15C8090FAC6]    Script Date: 4/26/2026 9:44:34 PM ******/
ALTER TABLE [dbo].[Buses] ADD UNIQUE NONCLUSTERED 
(
	[LicensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Trip_Seat]    Script Date: 4/26/2026 9:44:34 PM ******/
ALTER TABLE [dbo].[TicketSeats] ADD  CONSTRAINT [UQ_Trip_Seat] UNIQUE NONCLUSTERED 
(
	[BookingID] ASC,
	[SeatLabel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5C7E359ED175BA3C]    Script Date: 4/26/2026 9:44:34 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053484FABB01]    Script Date: 4/26/2026 9:44:34 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('VNPay') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Trips] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Customer') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([TripID])
REFERENCES [dbo].[Trips] ([TripID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Buses]  WITH CHECK ADD FOREIGN KEY([OperatorID])
REFERENCES [dbo].[Operators] ([OperatorID])
GO
ALTER TABLE [dbo].[TicketSeats]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD FOREIGN KEY([BusID])
REFERENCES [dbo].[Buses] ([BusID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([PaymentStatus]='Cancelled' OR [PaymentStatus]='Failed' OR [PaymentStatus]='Paid' OR [PaymentStatus]='Pending'))
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD CHECK  (([Status]='On-going' OR [Status]='Cancelled' OR [Status]='Completed' OR [Status]='Scheduled'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Operator' OR [Role]='Admin' OR [Role]='Customer'))
GO
USE [master]
GO
